/*=====================================
             common css
======================================*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    width: 1047px;
    margin: 0 auto;
}

/*=====================================
          header part start
======================================*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2 {
    font-size: 24px;
    font-weight: 700;
}

nav .nav ul {
    display: flex;
    gap: 34px;
}

nav .nav ul li {
    list-style: none;
}

nav .nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/*=====================================
          hero-area start
======================================*/
.hero-area {}

.hero-area-child {
    width: 100%;
    display: flex;
    gap: 1%;
    align-items: center;
}

.hero-area-child-1 {
    width: 50%;
}

.hero-area-child-1 h1 {
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 0;
}

.hero-area-child-1 p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 38px;
    line-height: 22px;
}

.hero-area-child-1 .btn-1 {
    padding: 18px 24px;
    border-radius: 41px;
    display: inlin1e-block;
    background-color: #E02C6D;
    border: 0;
}

.hero-area-child-1 .btn-1 a {
    text-decoration: none;
    color: beige;
    font-size: 16px;
    font-weight: 700;
    display: flex;
}
.hero-area-child-1 .btn-1 a i{
    margin-left: 12px;
    font-size: 18px;
}

.images {
    width: 50%;
}

.images .img-camera-1 {
    position: relative;
    width: 100%;
}

.images .img-camera-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.images .img-camera-1 img {
    width: 100%;
}

.images .img-camera-1 .img-camera-2 img {
    width: 100%;
}
.company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 25px 0;
    border-style: solid;
    border-width: 1px;
    border-right: 0;
    border-left: 0;
    border-image: linear-gradient(to right, transparent, rgb(0, 0, 0), transparent) 1; 
}
    
    
    
    
    

